/* positioning  */
#outterDiv {

	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 12px;
	cursor: default;
	z-index: 1000;
	line-height: 1;
	vertical-align: baseline;
	padding: 5px;
	outline: 0px;
	margin: 3px;
	display:inline-block;
}




/*mtl2 design for chip **/
.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.chip img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

/**mtl2 design chip end*/


/* begin css for rectangular card shap */

#flagExtension {

	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 12px;
	cursor: default;
	z-index: 1000;
	line-height: 1;
	vertical-align: baseline;
	padding: 5px;
	outline: 0px;
	margin: 3px;
	display:inline-block;
	color: #000000;
	background: #e3e3e3;
	border-width: 1px 1px 0px;
	border-style: solid;
	border-color: #d3d3d3;
	border-bottom: 0px;
}

#myFlag{
	width:32px;
	height:32px;
	z-index: 9999;
	display: inline-block;
	margin:4px;
}